
/*# sourceMappingURL=app.css.map */
body, html{
    padding: 0 !important;
    margin: 0 !important;
    background-color: #000;
    font-family: Tahoma;
}

a{
    text-decoration: none;
}

.left-side{
    background-color: #FFF;
    height: auto;
    color: #000;
    float: left;
    width: 370px;
    padding: 10px;
    margin: 3px 0;
}

.right-side{
    background-color: #000;
    height: 550px;
    color: #fff;
    padding: 1px 0px 0 0;
    float: right;

    /* Firefox */
    width: -moz-calc(100% - 418px);
    /* WebKit */
    width: -webkit-calc(100% - 418px);
    /* Opera */
    width: -o-calc(100% - 408px);
    /* Standard */
    width: calc(100% - 445px);

}

.results a{
    font-size: 12px;
    color: #333;
    line-height: 12px;
}

.results a:hover{
    color: #000;
}

h2{
    font-size: 14px;
    margin: 5px 0;
    padding: 0;
    font-weight: bold;
}

.menu-letters{
    font-weight: bold;
    font-size: 12px;
    background-color: #333;
    color: #fff;
    padding: 1px 1px;
    line-height: 20px;
    display: block;
    height: 20px;
    width: 20px;
    margin: 2px 2px 0 0;
    text-align: center;
    float: left;
}

.menu-letters:hover{
    background-color: #555;
    color: #eee;
}

.company_results{
    padding: 0px 0;
}

.companyitem{
    padding: 5px 10px;
    margin: 0 0 5px 0;
    background-color: #efefef;
    font-size: 12px;
    margin: 2px;
}

.companyitem:hover{
    background-color: #ddd;
}

.companyitem div{
    color: #333;
}

.left-menu{
    width: 48px;
    float: left;
    margin: 0 0px 0 0px;
    height: 700px;
}

.top-menu, .top-menu a{
    height: 90px;
    color: #fff;
    font-size: 12px;
    color: lightblue;
    text-transform: uppercase;
    font-weight: bold;

}

.top-menu .logo{
    width: 200px;
    height: 70px;
    background-color: #DE443A;
    padding: 20px 0 0 0;
    float: left;
}

.top-menu .menu{
    width: 50%;
    height: 70px;
    padding: 20px 0 0 0px;
    float: left;
    text-align: right;
    line-height: 46px;
}

.top-menu .menu a{
    color: #fff;
    font-weight: 100;
}

.top-menu .menu .helyek{
    padding: 2px 25px;
    background-image: url('/img/helyek.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.top-menu .menu .esemenyek{
    padding: 2px 25px;
    background-image: url('/img/esemenyek.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.top-menu .menu .kepek{
    padding: 2px 25px;
    background-image: url('/img/kepek.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.top-menu .menu .hetimenu{
    padding: 2px 25px;
    background-image: url('/img/hetimenu.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.top-menu .search{
    width: 22%;
    height: 90px;
    float: right;
    line-height: 84px;
}

.left-side h1{
    padding: 0;
    margin: 0;
    font-size: 22px;
}

.left-side h1, .left-side h3, .left-side h4{
    padding: 0;
    margin: 0;
}

.left-side h4{
    font-size: 16px;
}

.left-side p{
    font-size: 12px;
    margin: 0px 0;
    padding: 4px 0;
}

.keresesField{
    width: 120px;
    height: 30px;
    background-color: #fff;
}

#searchButton{
    margin: 0 7px 0;
    position: relative;
    top: 7px;
}

.addNewPlace{
    width: 300px;
    border: 1px solid #fff;
    padding: 11px;
    color: #fff;
    margin: 0 26px 0 0;
}

@media screen and (min-width: 480px) {
    .top-menu .logo, .top-menu .menu, .top-menu {
        width: 100% !important;
        float: none;
        clear: both;
    }
    
}